.Sidebar {
  border: 5px solid var(--primary40);
  border-radius: 2rem;
  position: fixed;
  padding: 1rem;
  height: 30rem;
  width: 8rem;
  background-color: var(--fundoelementos);
  display: block;
  margin: -7rem 1rem;
  justify-content: center;
  list-style: none;
  line-height: 1.5;
}

.Sidebar h1{
  color: var(--primary100);
  font-weight: bold;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.Sidebar a{
  color: var(--primary100);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  transition: 0.2s;
}

.Sidebar a:hover{
  color: var(--primary40);
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
}