.container {
  display: flex;
  width: 100%;
  margin-top: 5rem;
  margin-left: 4rem;
  justify-content: center;
}

.result {
  width: 85%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  list-style: none;

}

.titlebox {
  background-color: var(--fundoelementos);
  margin: -0.5rem 1rem 2rem 1rem;
  height: 100px;
  display: flex;
  align-items: center;
}

.products p{
  width: 400px;
  margin-left: 1rem;
  color: var(--primary100);
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.unicproducts{
  width: 26.25rem;
  height: 26.25rem;
  margin-inline: 1rem;
  transition: 0.7s;
}

.unicproducts:hover{
  opacity: 75%;
}

