.container {
  margin-top: 2rem;
}

.Search {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}


.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 1rem;
}

.products p {
  background-color: var(--fundoelementos);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20.25rem;
  height: 4rem;
  color: var(--primary100);
  font-size: 15px;
  margin-inline: 1rem;
  margin-top: 0;

}

.unicproducts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.25rem;
  height: 20.25rem;
  transition: 0.7s;
  margin-inline: 1rem;

  
}

.unicproducts:hover{
  opacity: 75%;
}
