.container {
  padding: 0.3rem 0;
  background-color: var(--fundoelementos);;
}

.container p {
  color: var(--primary60);
  font-size: 1.5rem;
  text-align: center; 
  font-weight: bold;
}


@media (max-width: 768px) {
  .container p {
    font-size: 1rem;
  }
}