.container{
  display: block;
}

.busca {
  display: flex;
  margin: auto;
  background-color: var(--fundoelementos);
  border: 1px solid var(--primary100);
  width: 20rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--primary100);
}

.botao{
  display: flex;
  margin: auto;
  justify-content: center;
  background-color: var(--primary100);
  border: 1px solid var(--primary100);
  width: 20rem;
  height: 1rem;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

@media (min-width: 768px) {
  .busca {
    width: 40rem;
  }
  
  .botao{
    width: 40rem;
  }
}