.container {
  display: block;
}

.busca {
  display: flex;
  margin: auto;
  background-color: #ffffff7e;
  border: 1px solid #000000;
  width: 20rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  color: var(--primary100);
}

.botao {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #498d1b;
  border: 1px solid #000000;
  width: 20rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
}

.botao:hover {
  background-color: #c4c4c4;
}

@media (min-width: 768px) {
  .busca {
    width: 40rem;
  }

  .botao {
    width: 40rem;
  }
}
