.container {
  color: var(--primary100);
  display: flex;
  align-items: center ;
  flex-direction: column;
  text-align: center;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  gap: 2rem;
}

.redes a{
  font-size: 30px;
  color: var(--primary100);
  text-decoration: none;
  transition: 0.25s;
  font-weight: bold;
}

.redes a:hover{
  font-size: 35px;
  color: var(--primary30);
  text-decoration: underline;
  font-weight: bold;

}

@media(max-width: 768px) {
  
.container h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  .container h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    padding: 2rem;
  }
  
  .redes a{
    font-size: 15px;
    color: var(--primary100);
    text-decoration: none;
    transition: 0.25s;
    font-weight: bold;
  }
  
  
}