.container {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;

}

.container h1 {
  color: var(--primary60)
}

.photoitem {
  width: 50rem;
  height: 50rem;
  border: 5px solid var(--primary30);
  border-radius: 50px;
}





