@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

:root {
  
    --fundoelementos: #fae2b5;
    --fundosecundario: #e9e9e9;
    --primary100: #f25c54;
    --primary80: #f27059;
    --primary60: #f4845f;
    --primary40: #f79d65;
    --primary30: #f7b267;
    
  

  background-color: #fbf4e6;
  color: var(--primary30);
}

body {
  font-family: 'Mukta', sans-serif;
  margin-inline: auto;
}