@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Source+Sans+Pro&display=swap");
:root {
  --fundoelementos: #5752815e;
  --fundosecundario: #0f0d1f;
  --primary100: #cfcfcf;
  --primary80: #cfcfcf;
  --primary60: #cfcfcf;
  --primary40: #cfcfcf;
  --primary30: #cfcfcf;

  background-color: #171430;
  color: var(--primary30);
}

body {
  font-family: "Amatic SC", cursive;
  margin-inline: auto;
}
