.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: var(--primary100);
  
}

.image {
  margin-top: 3rem;

}

@media(max-width: 768px) {
  .image {
    margin-top: 2rem;
    width: 20rem;
    height: 10rem;
  }

  
  .container h1 {
    text-align: center;
  }
}