.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: var(--primary100);
  text-shadow: 
               -1px -1px 0px #0000, 
               -1px 1px 0px #0000,                    
                1px -1px 0px #0000,                  
                1px 0px 0px #0000;
}

.image {
  margin-top: 3rem;

}